.color1 {
   
    border-top: 5px solid hsl(180, 62%, 55%);
    
}


.color2 {
    border-top: 5px solid hsl(0, 78%, 62%);
 
}

.color3 {
    border-top: 5px solid hsl(34, 97%, 64%);
}

.color4 {
    border-top: 5px solid hsl(212, 86%, 64%);
}








