#head{
   text-align: center;
}

#text1,p{
    color:gray;
    font-weight: 400;
    
}
#para{
  width:  550px;
   margin: 0 auto;
   font-size: 16px;

}
#content{
    padding-top: 30px;
    margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  #head h1{
    font-size: 23px;
  }
  /* #head{
    padding:0 20px; */
    /* width: 340;
  } */
  #para{
  font-size: 15px;
  width: 340px;
  
  }

}

 
